<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljx.mapper.NodemetaMapper" >
  <resultMap id="BaseResultMap" type="com.ljx.entity.Nodemeta" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="NODEMETACODE" property="nodemetacode" jdbcType="VARCHAR" />
    <result column="NODEMETANAME" property="nodemetaname" jdbcType="VARCHAR" />
    <result column="ORD" property="ord" jdbcType="VARCHAR" />
    <result column="METATYPE" property="metatype" jdbcType="VARCHAR" />
    <result column="ALIASNAME" property="aliasname" jdbcType="VARCHAR" />
    <result column="GATHER_METHOD_NAME" property="gatherMethodName" jdbcType="VARCHAR" />
  </resultMap>
</mapper>