<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljx.mapper.SystemUsersMapper">
  <resultMap id="BaseResultMap" type="com.ljx.entity.SystemUsers">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="ORGID" jdbcType="VARCHAR" property="orgid" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="USERTEL" jdbcType="VARCHAR" property="usertel" />
    <result column="USEREMAIL" jdbcType="VARCHAR" property="useremail" />
    <result column="USERUNIT" jdbcType="VARCHAR" property="userunit" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="USERRIGHT" jdbcType="VARCHAR" property="userright" />
  </resultMap>

    <!--<resultMap id="UserToRolesMap" type="com.ljx.model.User">-->
        <!--<id column="USERID" jdbcType="VARCHAR" property="userid" />-->
        <!--<result column="USERNAME" jdbcType="VARCHAR" property="username" />-->
        <!--<result column="PASSWORD" jdbcType="VARCHAR" property="password" />-->

        <!--&lt;!&ndash; 一对多的关系 &ndash;&gt;-->
        <!--&lt;!&ndash; property: 指的是集合属性的值, ofType：指的是集合中元素的类型 &ndash;&gt;-->
        <!--<collection ofType="java.lang.String" property="roles">-->
            <!--<result column="ROLE_RIGHT_ID" jdbcType="java.lang.String" />-->
        <!--</collection>-->
    <!--</resultMap>-->

    <!--<select id="selectUserAndRolesByName" resultMap="UserToRolesMap">-->
        <!--SELECT a.USERID, a.USERNAME, a.PASSWORD, b.ROLE_RIGHT_ID-->
        <!--FROM SYSTEM_USER a, SYSTEM_ROLE_RIGHT b-->
        <!--WHERE a.USERNAME=#{username} AND a.USERRIGHT=b.ROLEID-->
    <!--</select>-->
</mapper>